.wrapper-add {
    border: 2px rgb(190, 190, 190) solid;
    border-radius: 20px;
    height: 35rem;
    padding: 50px;
    margin-top: 10%;
    display: flex;
    width: 500px;
    flex-direction: column;
}

.wrapper-img {
    padding-left: 40px;
    width: 260px;
    height: 180px;
}

.wrapper-img img {
    height: 160px;
    width: 250px;
}